/******************************** all pages ***************/
body {
  font-family: 'Nunito Sans', sans-serif;
}

html {
  position: relative;
  min-height: 100%
}

.navbar {
  border-bottom: 1px solid transparent;
  font-family: 'Nunito Sans', sans-serif;
  
}

.logo {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  color: #c8eaf5 !important;
}

a{
  color:#c8eaf5;
}

img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
/************************************ home page ***************/
.background {
  height: 800px;
  width: 100%;
  background-image: url("../images/NL.jpg");
  background-size: cover;
  background-position: center;
}

h1{
  text-align: center;
  font-size: 80px;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  padding-top: 35%;
  padding-left: 0;
  padding-right: 0;
 }
 
 p{
   text-align: center;
   font: 20px;
   color: #c8eaf5;
   font-family: Georgia, 'Times New Roman', Times, serif;
  }
 
  .icons1{
    padding-top:10px;
    padding-left: 25%;
    margin-bottom: 40px;
    border: 0;
  }

/******************************** background color for other pages***************/
.bgcolor{
  /* background-color: black; */
}
  /*************** portfolio page style***************/

  .portheader{
    margin-top: 80px;
  }

  .portimages1, .portimages2 {
    padding-bottom: 50px;
    padding-top: 10px;
  }

  /* .portimages1{
    padding-left: 5%;
    margin-right: 100px;

  }
 
  .portimages2{
    padding-right: 5%;
    margin-left: 100px; */

  }

 /********************************************* contact page style***************/

 .contacthead{
   margin-top: 80px;
   padding:0px;
   text-align: left;  
   font-family: 'Nunito Sans', sans-serif;
 }

h2{
  font-size: 290%;
  font-family: 'Nunito Sans', sans-serif;
  padding-left: 35%;
  margin-top: 80px;

}

 h3{
   font-size: 120%;
   font-family: 'Nunito Sans', sans-serif;
   color: #c8eaf5;
   padding: 0px;
   text-align: center;
   margin-bottom: 10px;
   padding-top: 10px;
 }

 .profilepic {
  height: 420px;
  border: 10px solid #cccccb;
  margin-left: 60px;
  float: left;
  font-family: 'Nunito Sans', sans-serif;
 }

.icons{
  padding-top:10px;
  padding-left: 35%;
  margin-bottom: 40px;
  border: 0;
}

label{
  padding-right: 40px;
  padding-top: 30px;
}
input{
  margin-top: 20px;
  padding-top: 10px;
}

 /**************************************** footer style ***************/

.footer {
  height: 40px;
  border-top: 3px solid #c8eaf5;
  margin-top: 2px;
  background-color: rgb(41, 40, 40);
  padding-top: 14px;
  color: #fff;
}

 /********************* Screen Change at XLarge Size **************************************/

@media only screen and (max-width: 1450px){
  /********************* Index Page *************/
  /********************* Portfolio Page ********/  
  /********************* Contact Page ************/
    h2{
      padding-left: 38%;
    }
    .profilepic{
      margin-left: 10%;
    }
  }  


 /********************* Screen Change at Large Size **************************************/
 @media only screen and (max-width: 1200px){
  /********************* Index Page *************/
  /********************* Portfolio Page ********/  
 .portimages1{
    margin-right: 10px;

  }

  /********************* Contact Page ************/
    h2{
      padding-left: 40%;
    }
  }  

  /********************* Screen Change at Medium Size **************************************/
@media only screen and (max-width: 992px){
/********************* Index Page *************/
  h2{
    padding-left: 35%;
  }
  /********************* Portfolio Page ********/
  .portimages1, .portimages2{
    margin-left: 0;
    margin-right: 0;
    padding-right:0;
    padding-left:0;
    align-content: center;
    text-align: center;
  }
  .portimages2{
    margin-left: 0px;  }

  hr{
    margin-left: 0;
  }
  /********************* Contact Page ************/
  .profilepic{
    margin-left: 70%;
  }
}  
  /********************* Screen Change at Small Size *************************************/
@media only screen and (max-width:767px){
  .mobile-space{margin:0;}
  /********************* Index Page ************/
  h2{
    padding-left: 25%;
  }
   /********************* Portfolio Page ********/  
   .hr{
    margin-left: 0;
  }
 /********************* Contact Page ***********/
   .profilepic{
    margin-left: 10%;
  }
 
}
